
.form{
    border-radius: 20px;
    margin-left: 400px;
    width: 500px;
    height: 537px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    
}
.logo{
    background-color: rgb(255, 255, 255);
}

.img-login{
    border-radius: 20px;
    display: flex;
    background-color:rgb(255, 255, 255);
    justify-content: center;
}

.login-form{
    background-color: rgb(255, 255, 255);
    justify-items: center
}

.input-login {
    display: flex;
    margin-left: 132px;
    height: 30px;
    width: 250px;
    border-color: rgb(194, 74, 176);
    border-radius: 10px;
}

.label-login{
    color: rgb(207, 137, 197);
    display: flex;
    margin-left: 240px;
    background-color: white;
}

.label-login1{
    color: rgb(207, 137, 197);
    display: flex;
    margin-left: 240px;
    background-color: white;

}

.label-login2{
    color: rgb(207, 137, 197);
    display: flex;
    margin-left: 232px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

.btn-login{
    margin-left: 210px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: rgb(194, 74, 176);
    background-color: rgb(248, 159, 221);
    color: white;
}
.tex-login{
    color: rgb(207, 137, 197);
    background-color: white; 
    margin-left: 170px;
    font-size: 25px;
}

.login-link{
    margin-left: 216px;
    background-color: white; 
}

.colorrosa{
   background-color: rgb(222, 164, 210);
}