.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    color: rgb(216, 50, 189);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    margin-top: -10px;
    margin-left:-8px ;
    width: 106%;
}

.admi {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -10%;
    margin-right: 50px;
}
.logo2{
    height: 110px;
    margin-left: 30px;
    margin-top: 10px;
}
.nav1{
    margin-left: 40px;
    background-color: white;
    text-decoration: none;
    color: rgb(216, 50, 189);
}
.administrar{
    background-color: white;
    font-size: 17px;
}

.tienda{
    background-color: white;
    font-size: 17px;
}
.publicar{
    background-color: white;
    height: 700px;
    width: 360px;
    border-radius: 10px;
    padding: 1%;
    margin-left: 6%;
}

.saludo{
    background-color: white;
}
.saludoadmi{
    background-color: white;
}
.publicar{
    background-color: white;
    text-align: center;
    color: rgb(201, 86, 183);
}
.publi_img{
    margin-left: 9%;
    background: lightblue;
}
.input_body{
    width: 280px;
    margin-left: 9%;
    height: 20px;
    background-color: white;
}

.input_body_descripcion{
    width: 280px;
    margin-left: 9%;
    height: 50px;
    background: white;
}

.btn_body{
    width: 130px;
    height: 50px;
    margin-left: 30%;
    border-radius: 10px;
}

.productos_publicados{
    width: 750px;
    height: 700px;
    border-radius: 10px;
    margin-left: 39%;
    margin-top: -724px;
    background: white;
    overflow: scroll;
}

.salir{
margin-bottom: 10px;
}

.fooder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: white;
    height:180px;
    text-align: center;
    width: 105%;
    margin-top: 10px;
    margin-left:-8px
    
}

.fooder2{
    text-align: center;
    background-color: white;
    color: rgb(216, 50, 189);
}

.fooder-in{
    background-color: white;
    margin-top: 16px;
    color: rgb(216, 50, 189);
}

.fooder-in-p{
    background-color: white;
    margin-left: 100px;
    text-align: left;
}

.fooder-in-c{
    background-color: white;
    margin-left: 120px;
}

.fooder-img{
    background-color: white;
    height: 20px;
}

.logo-foo{
    height: 130px;
    margin-top: 20px;
    margin-left: 150px;
}

.contacto{
    background-color: white;
    margin-left: 103px;
}

.publicados{
    background-color: white;
    text-align: center;
    color: rgb(216, 50, 189);
}

.Carrusel{
    /* z-index: -1;
    margin-top: -5%; */
    height: 520px;
    width: 90%;
    margin-left: 8%;
}

.CorruselItems{
    height: 500px;
}

/*.Carousel.indicators{
    display: block;
    visibility: hidden;

}*/

.d-block{
   width: 100%;
   height: 520px;
   object-fit: cover;
}

.Carousel.indicators{
    background-color: none;
}



.bbb{
    background-color: white;
    text-align: center;
}

.card-body{
    background-color: white;
}

.cuadroo{
    display: flex;
    justify-content: center;
    background: white;
}

.card{
    margin-left: 10px;

}

.father{
    display: flex;
    margin: 20px;
    background: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    margin-top: -180px;
}

.cards{
    margin-top: 200px;
}

.card-img-top{
    height: 160px;
    width: 5%;
}

.redondo{
    border-radius: 50%;
}